<a href="https://colab.research.google.com/github/darmstater/Project/blob/main/Preprocessing_LastProjek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## IMPORT LIBRARY

In [ ]:
import numpy as np
import pandas as pd
# import nltk
import re
# from nltk.stem import PorterStemmer
# from nltk.tokenize import word_tokenize
# from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.metrics import accuracy_score
# from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns
# from nltk.stem import WordNetLemmatizer
import itertools
from wordcloud import WordCloud
# from sklearn.ensemble import RandomForestClassifier
# from sklearn import tree
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.svm import SVC
# from sklearn.ensemble import BaggingClassifier
# from sklearn.tree import DecisionTreeClassifier
from google.colab import drive
# from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
# from sklearn.model_selection import GridSearchCV

## IMPORT DATASET

In [ ]:
drive.mount('/content/drive/') #

raw_data = pd.read_csv('/content/drive/MyDrive/SKRIPSI/diabetic_data.csv')
raw_data.head()

Mounted at /content/drive/

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
raw_data.shape

(101766, 50)

## PRE-PROCESSING

### **FEATURE SELECTION**


Menghapus beberapa fitur/kolom yang {menurut artikel yang disertakan saat saya mengambil dataset, ada beberapa Nilai diagnosis utama dalam set data akhir. Dalam analisis, kelompok yang mencakup kurang dari 3,5% pertemuan dikelompokkan
ke dalam kategori "lainnya"}

In [ ]:
secondary_variable = ['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight', 'admission_type_id', 'discharge_disposition_id', 'admission_source_id', 'payer_code', 'medical_specialty']
raw_data.drop(columns=secondary_variable, axis=1, inplace=True)

raw_data.to_csv('/content/drive/MyDrive/SKRIPSI/cleaned_data.csv', index=False)

In [ ]:
cleaned_data = pd.read_csv('/content/drive/MyDrive/SKRIPSI/df_cleaned.csv')
cleaned_data.head(100)

# cleaned_data => data yang sudah dihapus kolom yang tidak terpakai dalam penelitian

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,1,41,0,1,0,0,0,250.83,?,?,...,No,No,No,No,No,No,No,No,No,NO
1,3,59,0,18,0,0,0,276,250.01,255,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,2,11,5,13,2,0,1,648,250,V27,...,No,No,No,No,No,No,No,No,Yes,NO
3,2,44,1,16,0,0,0,8,250.43,403,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,1,51,0,8,0,0,0,197,157,250,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,19,2,8,0,0,0,996,413,414,...,No,Steady,No,No,No,No,No,No,Yes,>30
96,5,64,0,21,0,0,1,38,428,427,...,No,Steady,No,No,No,No,No,No,Yes,>30
97,3,55,4,23,0,0,1,414,411,511,...,No,Down,No,No,No,No,No,Ch,Yes,NO
98,2,53,0,6,0,0,0,590,250.01,401,...,No,Up,No,No,No,No,No,Ch,Yes,NO
99,6,72,2,16,0,0,1,556,285,250,...,No,Steady,No,No,No,No,No,Ch,Yes,>30

In [ ]:
cleaned_data.shape

(101766, 39)

###**DATA CLEANING**

bersihin data yang ? ato ngaco

In [ ]:
# Periksa dan ganti "?" dengan 0
cleaned_data = cleaned_data.replace("?", 0)
cleaned_data.head(10)

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,1,41,0,1,0,0,0,250.83,0,0,...,No,No,No,No,No,No,No,No,No,NO
1,3,59,0,18,0,0,0,276,250.01,255,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,2,11,5,13,2,0,1,648,250,V27,...,No,No,No,No,No,No,No,No,Yes,NO
3,2,44,1,16,0,0,0,8,250.43,403,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,1,51,0,8,0,0,0,197,157,250,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,3,31,6,16,0,0,0,414,411,250,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,4,70,1,21,0,0,0,414,411,V45,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,5,73,0,12,0,0,0,428,492,250,...,No,No,No,No,No,No,No,No,Yes,>30
8,13,68,2,28,0,0,0,398,427,38,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,12,33,3,18,0,0,0,434,198,486,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

###**LABELING**

####**Data Segregation**

```
# This is formatted as code
```


Misahin Data INT dan Object

In [ ]:
cleaned_data.info() #untuk cek tipe data per kolom

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 39 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   time_in_hospital          101766 non-null  int64
 1   num_lab_procedures        101766 non-null  int64
 2   num_procedures            101766 non-null  int64
 3   num_medications           101766 non-null  int64
 4   number_outpatient         101766 non-null  int64
 5   number_emergency          101766 non-null  int64
 6   number_inpatient          101766 non-null  int64
 7   diag_1                    101766 non-null  object
 8   diag_2                    101766 non-null  object
 9   diag_3                    101766 non-null  object
 10  number_diagnoses          101766 non-null  int64
 11  max_glu_serum             101766 non-null  object
 12  A1Cresult                 101766 non-null  object
 13  metformin                 101766 non-null  object
 14  repaglinide               101766 non-null  object
 15  nateglinide               101766 non-null  object
 16  chlorpropamide            101766 non-null  object
 17  glimepiride               101766 non-null  object
 18  acetohexamide             101766 non-null  object
 19  glipizide                 101766 non-null  object
 20  glyburide                 101766 non-null  object
 21  tolbutamide               101766 non-null  object
 22  pioglitazone              101766 non-null  object
 23  rosiglitazone             101766 non-null  object
 24  acarbose                  101766 non-null  object
 25  miglitol                  101766 non-null  object
 26  troglitazone              101766 non-null  object
 27  tolazamide                101766 non-null  object
 28  examide                   101766 non-null  object
 29  citoglipton               101766 non-null  object
 30  insulin                   101766 non-null  object
 31  glyburide-metformin       101766 non-null  object
 32  glipizide-metformin       101766 non-null  object
 33  glimepiride-pioglitazone  101766 non-null  object
 34  metformin-rosiglitazone   101766 non-null  object
 35  metformin-pioglitazone    101766 non-null  object
 36  change                    101766 non-null  object
 37  diabetesMed               101766 non-null  object
 38  readmitted                101766 non-null  object
dtypes: int64(8), object(31)
memory usage: 30.3+ MB

In [ ]:
# Misahin Data Int dan Obj

int_columns = cleaned_data.select_dtypes(include="int64")
object_columns = cleaned_data.select_dtypes(include="object")

In [ ]:
# cek yang dipindah udh bener apa belom

int_columns.head(10)

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
0,1,41,0,1,0,0,0,1
1,3,59,0,18,0,0,0,9
2,2,11,5,13,2,0,1,6
3,2,44,1,16,0,0,0,7
4,1,51,0,8,0,0,0,5
5,3,31,6,16,0,0,0,9
6,4,70,1,21,0,0,0,7
7,5,73,0,12,0,0,0,8
8,13,68,2,28,0,0,0,8
9,12,33,3,18,0,0,0,8

In [ ]:
object_columns.head(10)

,diag_1,diag_2,diag_3,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,250.83,0,0,None,None,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,NO
1,276,250.01,255,None,None,No,No,No,No,No,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,648,250,V27,None,None,No,No,No,No,No,...,No,No,No,No,No,No,No,No,Yes,NO
3,8,250.43,403,None,None,No,No,No,No,No,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,197,157,250,None,None,No,No,No,No,No,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,414,411,250,None,None,No,No,No,No,No,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,414,411,V45,None,None,Steady,No,No,No,Steady,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,428,492,250,None,None,No,No,No,No,No,...,No,No,No,No,No,No,No,No,Yes,>30
8,398,427,38,None,None,No,No,No,No,No,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,434,198,486,None,None,No,No,No,No,No,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

####**Label Encoding**

Cari Unique Value Per Kolom (untuk labeling)

In [ ]:
# Kolom-kolom yang Mau Dicek
cek_Uvalue = ['diag_1', 'diag_2', 'diag_3', 'max_glu_serum', 'A1Cresult', 'metformin',
               'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide',
               'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone',
               'acarbose', 'miglitol', 'troglitazone', 'tolazamide',
               'insulin', 'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone',
               'metformin-rosiglitazone', 'metformin-pioglitazone', 'change', 'diabetesMed',
               'readmitted']

# Dapatkan Unique Value untuk setiap kolom
for i in cek_Uvalue:
    unique_value = object_columns[i].unique()
    print(f"Unique Value dalam kolom {i}: {unique_value}")

Unique Value dalam kolom diag_1: ['250.83' '276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157'
 '518' '999' '410' '682' '402' '737' '572' 'V57' '189' '786' '427' '996'
 '277' '584' '462' '473' '411' '174' '486' '998' '511' '432' '626' '295'
 '196' '250.6' '618' '182' '845' '423' '808' '250.4' '722' '403' '250.11'
 '784' '707' '440' '151' '715' '997' '198' '564' '812' '38' '590' '556'
 '578' '250.32' '433' 'V58' '569' '185' '536' '255' '250.13' '599' '558'
 '574' '491' '560' '244' '250.03' '577' '730' '188' '824' '250.8' '332'
 '562' '291' '296' '510' '401' '263' '438' '70' '250.02' '493' '642' '625'
 '571' '738' '593' '250.42' '807' '456' '446' '575' '250.41' '820' '515'
 '780' '250.22' '995' '235' '250.82' '721' '787' '162' '724' '282' '514'
 'V55' '281' '250.33' '530' '466' '435' '250.12' 'V53' '789' '566' '822'
 '191' '557' '733' '455' '711' '482' '202' '280' '553' '225' '154' '441'
 '250.81' '349' 0 '962' '592' '507' '386' '156' '200' '728' '348' '459'
 '426' '388' '607' '337' '82' '531' '596' '288' '656' '573' '492' '220'
 '516' '210' '922' '286' '885' '958' '661' '969' '250.93' '227' '112'
 '404' '823' '532' '416' '346' '535' '453' '250' '595' '211' '303'
 '250.01' '852' '218' '782' '540' '457' '285' '431' '340' '550' '54' '351'
 '601' '723' '555' '153' '443' '380' '204' '424' '241' '358' '694' '331'
 '345' '681' '447' '290' '158' '579' '436' '335' '309' '654' '805' '799'
 '292' '183' '78' '851' '458' '586' '311' '892' '305' '293' '415' '591'
 '794' '803' '79' '655' '429' '278' '658' '598' '729' '585' '444' '604'
 '727' '214' '552' '284' '680' '708' '41' '644' '481' '821' '413' '437'
 '968' '756' '632' '359' '275' '512' '781' '420' '368' '522' '294' '825'
 '135' '304' '320' '250.31' '669' '868' '496' '250.43' '826' '567' '3'
 '203' '53' '251' '565' '161' '495' '49' '250.1' '297' '663' '576' '355'
 '850' '287' '250.2' '611' '840' '350' '726' '537' '620' '180' '366' '783'
 '11' '751' '716' '250.3' '199' '464' '580' '836' '664' '283' '813' '966'
 '289' '965' '184' '480' '608' '333' '972' '212' '117' '788' '924' '959'
 '621' '238' '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844'
 '7' '736' '233' '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600'
 '494' '977' '39' '659' '312' '614' '647' '652' '646' '274' '861' '425'
 '527' '451' '485' '217' '250.53' '442' '970' '193' '160' '322' '581'
 '475' '623' '374' '582' '568' '465' '801' '237' '376' '150' '461' '913'
 '226' '617' '987' '641' '298' '790' '336' '362' '228' '513' '383' '746'
 '353' '911' '506' '873' '155' '860' '534' '802' '141' 'V45' '396' '310'
 '341' '242' '719' '239' '533' '616' '519' '301' 'V66' '5' '989' '230'
 '385' '300' '853' '871' '570' '848' '463' '9' '934' '250.21' '236' '361'
 '594' '501' '810' '643' '430' '528' '205' '791' '983' '992' '490' '172'
 '171' '622' '306' '863' '864' '474' '660' '759' '356' '634' '967' '551'
 '695' '187' '732' '747' '323' '308' '370' '252' '152' '846' '164' '365'
 '718' '48' '266' '720' '94' '344' '797' '170' '878' '904' 'V56' '882'
 '843' '709' '973' '454' '686' '939' '487' '229' '991' '483' '357' '692'
 '796' '693' '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831'
 '145' '223' 'V71' '839' '685' 'V54' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847' '827'
 '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886' '369'
 '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835' '379'
 '445' '272' '382' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '671' '928' '906' '897' '725' '867' '115' '890' '734' '521'
 '674' '470' '834' '146' '696' '524' '980' '691' '384' '142' '879'
 '250.51' '246' '208' '448' '955' '653' '149' '245' '735' '883' '854'
 '952' '838' '194' 'V43' '163' '216' '147' '354' '27' '477' '318' '880'
 '921' '377' '471' '683' '175' '602' '250.91' '982' '706' '375' '417'
 '131' '347' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '52' '806' '84'
 '271' '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909'
 '583' 'V07' '422' '615' '279' '500' '903' '919' '875' '381' '804' '704'
 '23' '58' '649' '832' '133' '975' '833' '391' '690' '10' 'V51']
Unique Value dalam kolom diag_2: [0 '250.01' '250' '250.43' '157' '411' '492' '427' '198' '403' '288' '998'
 '507' '174' '425' '456' '401' '715' '496' '428' '585' '250.02' '410'
 '999' '996' '135' '244' '41' '571' '276' '997' '599' '424' '491' '553'
 '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '511' '196' '396'
 '197' '414' '250.52' '577' '535' '413' '285' '53' '780' '518' '150' '566'
 '250.6' '867' '486' 'V15' '8' '788' '340' '574' '581' '228' '530'
 '250.82' '786' '294' '567' '785' '512' '305' '729' '250.51' '280' '648'
 '560' '618' '444' '38' 'V10' '578' '277' '781' '250.42' '278' '426' '584'
 '462' '402' '153' '272' '733' '34' '881' '203' '250.41' '250.13' '293'
 '245' '250.12' '558' '787' '342' '573' '626' '303' '250.53' '458' '710'
 '415' 'V42' '284' '569' '759' '682' '112' '292' '435' '290' '250.93'
 '642' '536' '398' '319' '711' 'E878' '446' '255' 'V44' '250.7' '784'
 '300' '562' '162' '287' '447' '789' '790' '591' '200' '154' '304' '117'
 '847' '852' '250.83' '250.11' '816' '575' '416' '412' '441' '515' '372'
 '482' '382' 'V65' '572' '283' '78' '250.81' '576' '432' '595' '295' 'V12'
 '204' '466' '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258'
 '253' '309' '250.91' '519' '333' '459' '250.92' '250.4' '179' '420' '345'
 '433' '661' '537' '205' '722' '405' '437' '714' '211' 'E812' '263' '202'
 '397' '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724'
 '189' '297' '453' 'E888' '730' '354' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '716' '289' '191' '873' '850' '611' '377' '352' '616' 'V17'
 '136' '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151'
 'V58' '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217'
 '825' '298' '821' 'E880' '343' '429' 'E879' '579' '225' '250.9' 'V49'
 '696' '233' '658' '969' '275' '250.1' '601' '704' '808' 'E890' 'V18'
 '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66' '911'
 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864' '718'
 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824' 'V61' '646'
 '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905' 'E930' '921'
 '131' '448' '389' '421' '214' '705' '494' '752' '623' '9' '299' '959'
 '365' '967' 'E858' '40' '691' '909' '5' '814' '746' '250.31' '556' '680'
 '745' '351' '306' '110' '695' '552' '346' '918' '882' '947' '520' '188'
 '31' '356' '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912' '252'
 '608' '516' 'E933' '94' '702' '923' '594' '647' '111' '934' '430' '487'
 '709' '796' '156' '977' '915' '756' '840' '341' '259' '693' '725' 'V62'
 '528' '683' '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506' '193'
 '483' 'E936' '717' '802' '335' 'V54' '320' '945' '906' '239' '454' '826'
 '823' 'E941' '226' '795' '684' '844' '250.33' '308' '615' '588' '712'
 '663' '706' '833' '741' '713' '533' 'E884' '586' '555' '755' 'E928' '742'
 '869' '962' 'V11' '543' '373' '870' '913' '152' '810' '965' '907' '908'
 '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32' '540'
 '251' '811' '652' '659' '851' '422' '815' '307' '325' '463' '992' '692'
 '521' '917' 'E965' '524' '916' 'E813' '173' '238' '137' '514' '312' '837'
 '355' '980' '622' '475' '500' '754' '261' '801' '868' '968' '381' '11'
 '250.21' '694' '610' '734' 'E814' '310' '130' '246' '892' '846' '634'
 '75' 'E927' 'E905' '183' '379' 'E917' '163' 'E868' '495' '747' '989'
 'E854' '240' '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266' 'E918'
 '619' '477' '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800' '269'
 '664' 'E887' '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63' '865'
 '793' '232' '990' '52' '831' '327' '542' '806' '972' '862' 'E829' 'E919'
 '944' 'E916' '963' '316' '645' '347' 'V85' '374' 'V02' '748' '256' '186'
 '866' '975' '96' '395' '262' 'E819' '654' '994' '318' 'E826' '879' '674'
 '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703' '991' '893' 'E821' '235' 'V69' '670' '195' 'V55' '388'
 '268' '894' '114' '260' '853' '7' '880' 'V86' '180' 'E945' '523' '863'
 '649' '270' '665' '460' '942' '364' '66' 'E883' '123' '884' 'V60' '843'
 '927']
Unique Value dalam kolom diag_3: [0 '255' 'V27' '403' '250' 'V45' '38' '486' '996' '197' '250.6' '427'
 '627' '414' '416' '714' '428' '582' 'V43' '250.01' '263' '250.42' '276'
 '482' '401' '250.41' '585' '781' '278' '998' '568' '682' '618' '250.02'
 '305' '707' '496' '599' '715' '424' '518' '553' '794' '411' 'V42' '531'
 '511' '490' '562' '250.8' '250.7' '250.52' '784' '491' '581' '420' '8'
 '724' '730' '789' '131' '250.82' '999' '41' '493' '250.03' '753' '786'
 '529' 'E888' '425' '595' '303' '560' '711' '492' '332' '296' '438' '362'
 '250.4' '654' '244' 'V70' '737' '625' '681' '250.51' '404' 'V10' '810'
 '280' '440' '785' '588' '569' '272' '997' '250.43' '918' '584' '54' '788'
 '426' '722' '250.92' '196' '461' '535' '787' '891' '284' '458' '648'
 '780' '182' '285' '593' '413' '664' '564' '201' '356' 'V15' '292' '782'
 '473' '455' 'E932' '357' '348' '294' '250.23' '459' 'E878' '437' '733'
 '507' '525' '250.53' '397' '572' '805' '453' '331' '736' '402' '591'
 '576' '465' '533' '703' '349' '315' '658' '608' '578' '716' '382' '300'
 '282' '571' '536' '596' '287' '644' 'V11' '558' 'E885' '162' '198' '218'
 '412' '396' 'V14' '570' '433' 'E934' '882' '288' '577' '443' '729' '836'
 '295' '799' '281' '304' '153' '410' '616' '250.83' '601' '291' '75' '512'
 '660' '250.5' '598' '337' '574' '653' 'V58' '311' '415' '386' '602' '790'
 '112' '873' '620' '436' '70' '155' '138' '663' '530' '710' '42' '342'
 '250.91' 'E884' '515' '307' '704' '728' '731' '583' '238' '441' '293'
 '573' '532' '290' '594' '319' '250.13' '250.12' '519' '346' '380' '135'
 '642' '698' '924' '905' 'E933' '555' '309' 'E879' '286' '565' '752' '580'
 '446' '444' '344' '252' '35' '813' '394' '301' '575' '258' 'V17' '802'
 '435' '746' 'V12' '709' '881' 'E935' '139' '250.81' '718' '365' '202'
 '334' '185' '398' 'V44' '517' 'E849' '614' '466' '626' '250.9' '368'
 '605' '883' '289' '478' '617' '429' '442' 'V25' '866' '610' '557' '959'
 'E942' '94' '920' '345' '313' '379' '79' '516' '586' '821' '600' '242'
 '373' '592' 'V64' '487' '253' '706' 'E947' '117' '340' 'E950' '656'
 'E949' '590' 'V09' '250.22' '934' '694' '203' '250.93' '995' '726' '923'
 '958' '275' 'E929' '211' 'V18' 'V66' '199' '665' '53' '279' '522' '791'
 '890' '456' 'E938' 'E816' '122' '721' 'V65' '136' '480' '423' 'E920'
 '793' '647' '537' '351' '845' '336' '274' '719' '945' '434' '494' '227'
 '157' '208' '174' 'V57' '812' '734' '150' 'V23' '447' '692' '228' 'V16'
 '756' '405' 'E928' '823' '552' '528' '389' '240' '454' '792' '366' 'E939'
 '907' '270' '310' '266' '387' 'E931' '783' '245' '607' '355' 'E930' '705'
 '372' '369' '611' '283' 'V46' '110' '867' 'E956' '251' '250.2' '820'
 '712' '695' '567' '343' '723' 'V08' '273' '623' '807' '451' '495' '701'
 '34' 'V53' '314' '472' 'E945' '11' '189' '534' '354' '333' 'V54' '277'
 '659' '708' '452' '655' '816' '670' '621' '246' '953' '865' 'E817' '646'
 '151' '378' '78' '298' '840' '641' '521' '745' '619' '912' '506' 'E904'
 '259' 'E870' 'E980' '383' '204' '696' '566' '727' '47' 'E943' '358' '191'
 '965' '921' '432' '27' 'E861' '758' '477' '524' '751' '652' '556' '188'
 '825' '919' '732' '908' '951' '962' '685' 'E850' 'E944' '527' '341' '693'
 '250.1' 'V49' '860' '323' 'V55' '579' '508' '969' '205' '462' 'E880'
 '680' '697' '826' '200' '457' '717' '738' '742' '735' '235' '308' '725'
 '241' '824' '464' '260' '917' '239' '661' '892' '261' 'E883' '943' '744'
 'E936' '796' '318' '967' '350' '854' 'E905' '9' '741' 'E941' '170' '643'
 '317' '759' '909' 'V22' '831' '713' '180' '801' '360' '359' '501' '335'
 '250.11' '306' '811' '690' 'V02' '271' '214' '847' '543' 'V63' '906'
 '842' '686' '445' '808' '861' 'E852' '220' 'E887' 'E858' '915' '970'
 '256' '747' '395' '243' '815' '481' '5' 'E927' '297' '299' '851' '864'
 '922' '384' 'E876' '225' '158' 'E937' '871' '88' '966' 'E917' 'E812'
 'V62' 'E924' '604' '233' 'E916' '377' '797' 'V72' '172' '7' '421' '852'
 'E819' '972' '916' '956' '3' 'E965' '173' '193' '154' '347' '862' '250.3'
 '987' '470' '262' 'E855' '161' '115' '179' '910' '312' '17' '460' '265'
 '66' '163' 'V60' '870' 'E906' '514' '944' '844' '417' '152' '183' '991'
 '216' '385' '164' '935' '510' '814' '485' '850' '250.21' 'E919' '872'
 '195' '431' '597' '933' '171' '884' '156' '868' '483' 'E815' '542' 'V61'
 '853' '374' 'E881' 'E882' 'E822' '192' '754' '327' '523' '500' 'V85'
 '992' '657' '684' '603' 'E826' '550' '913' '376' '755' '361' '186' '720'
 '250.31' '674' '911' 'E813' '226' '365.44' 'E818' '146' '955' 'E894'
 '475' 'V13' '880' '930' 'E915' '381' '132' '353' '795' '893' 'V01' 'E853'
 '863' '540' 'E828' '430' '800' 'E865' '148' 'E946' '822' '879' '848'
 'V86' 'V03' '338' '989' '388' 'E966' '111' 'E922' '123' '757' 'E901'
 '141' '268' 'E892' '649' '702' '948' '223' '484' 'E886' '838' '928' '236'
 '624' '837' 'E987' 'V07' '841' '622' 'E912' 'E955' '463' 'V06' 'E864'
 '217' '877' '391' 'E825' '952' '669' '875' 'E900' '215' '538' '980' '834'
 '448' '175' '49' '876' '230' '57' 'E854' '942' '14' '750' '370' '671'
 '971']
Unique Value dalam kolom max_glu_serum: ['None' '>300' 'Norm' '>200']
Unique Value dalam kolom A1Cresult: ['None' '>7' '>8' 'Norm']
Unique Value dalam kolom metformin: ['No' 'Steady' 'Up' 'Down']
Unique Value dalam kolom repaglinide: ['No' 'Up' 'Steady' 'Down']
Unique Value dalam kolom nateglinide: ['No' 'Steady' 'Down' 'Up']
Unique Value dalam kolom chlorpropamide: ['No' 'Steady' 'Down' 'Up']
Unique Value dalam kolom glimepiride: ['No' 'Steady' 'Down' 'Up']
Unique Value dalam kolom acetohexamide: ['No' 'Steady']
Unique Value dalam kolom glipizide: ['No' 'Steady' 'Up' 'Down']
Unique Value dalam kolom glyburide: ['No' 'Steady' 'Up' 'Down']
Unique Value dalam kolom tolbutamide: ['No' 'Steady']
Unique Value dalam kolom pioglitazone: ['No' 'Steady' 'Up' 'Down']
Unique Value dalam kolom rosiglitazone: ['No' 'Steady' 'Up' 'Down']
Unique Value dalam kolom acarbose: ['No' 'Steady' 'Up' 'Down']
Unique Value dalam kolom miglitol: ['No' 'Steady' 'Down' 'Up']
Unique Value dalam kolom troglitazone: ['No' 'Steady']
Unique Value dalam kolom tolazamide: ['No' 'Steady' 'Up']
Unique Value dalam kolom insulin: ['No' 'Up' 'Steady' 'Down']
Unique Value dalam kolom glyburide-metformin: ['No' 'Steady' 'Down' 'Up']
Unique Value dalam kolom glipizide-metformin: ['No' 'Steady']
Unique Value dalam kolom glimepiride-pioglitazone: ['No' 'Steady']
Unique Value dalam kolom metformin-rosiglitazone: ['No' 'Steady']
Unique Value dalam kolom metformin-pioglitazone: ['No' 'Steady']
Unique Value dalam kolom change: ['No' 'Ch']
Unique Value dalam kolom diabetesMed: ['No' 'Yes']
Unique Value dalam kolom readmitted: ['NO' '>30' '<30']

In [ ]:
# kolom examide dan citoglipton dihapus karena hanya mengandung 1 buah nilai yaitu "No"
hapus = ['examide', 'citoglipton']

# Menghapus kolom-kolom yang ada dalam list dari "hapus"
object_columns.drop(columns=hapus, axis=1, inplace=True)

object_columns.head(10)

,diag_1,diag_2,diag_3,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,250.83,0,0,None,None,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,NO
1,276,250.01,255,None,None,No,No,No,No,No,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,648,250,V27,None,None,No,No,No,No,No,...,No,No,No,No,No,No,No,No,Yes,NO
3,8,250.43,403,None,None,No,No,No,No,No,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,197,157,250,None,None,No,No,No,No,No,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,414,411,250,None,None,No,No,No,No,No,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,414,411,V45,None,None,Steady,No,No,No,Steady,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,428,492,250,None,None,No,No,No,No,No,...,No,No,No,No,No,No,No,No,Yes,>30
8,398,427,38,None,None,No,No,No,No,No,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,434,198,486,None,None,No,No,No,No,No,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
# Code ICD9
import re

# Fungsi untuk mengganti nilai dalam kolom berdasarkan karakter E dan V
def ganti_nilai(value):
    if pd.notna(value) and isinstance(value, str):
        if re.match(r'^E\d', value):
            return 10000
        elif re.match(r'^V\d', value):
            return 20000
    return value  # Biarkan nilai lainnya tetap sama

# Mengganti nilai dalam kolom diag_1, diag_2, dan diag_3
for col in ['diag_1', 'diag_2', 'diag_3']:
    object_columns[col] = object_columns[col].apply(ganti_nilai)

changed = object_columns[['diag_1', 'diag_2','diag_3']]

print(changed)

        diag_1  diag_2 diag_3
0       250.83       0      0
1          276  250.01    255
2          648     250  20000
3            8  250.43    403
4          197     157    250
...        ...     ...    ...
101761  250.13     291    458
101762     560     276    787
101763      38     590    296
101764     996     285    998
101765     530     530    787

[101766 rows x 3 columns]

In [ ]:
# cek tipe datane
object_columns .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   diag_1                    101766 non-null  object
 1   diag_2                    101766 non-null  object
 2   diag_3                    101766 non-null  object
 3   max_glu_serum             101766 non-null  object
 4   A1Cresult                 101766 non-null  object
 5   metformin                 101766 non-null  object
 6   repaglinide               101766 non-null  object
 7   nateglinide               101766 non-null  object
 8   chlorpropamide            101766 non-null  object
 9   glimepiride               101766 non-null  object
 10  acetohexamide             101766 non-null  object
 11  glipizide                 101766 non-null  object
 12  glyburide                 101766 non-null  object
 13  tolbutamide               101766 non-null  object
 14  pioglitazone              101766 non-null  object
 15  rosiglitazone             101766 non-null  object
 16  acarbose                  101766 non-null  object
 17  miglitol                  101766 non-null  object
 18  troglitazone              101766 non-null  object
 19  tolazamide                101766 non-null  object
 20  insulin                   101766 non-null  object
 21  glyburide-metformin       101766 non-null  object
 22  glipizide-metformin       101766 non-null  object
 23  glimepiride-pioglitazone  101766 non-null  object
 24  metformin-rosiglitazone   101766 non-null  object
 25  metformin-pioglitazone    101766 non-null  object
 26  change                    101766 non-null  object
 27  diabetesMed               101766 non-null  object
 28  readmitted                101766 non-null  object
dtypes: object(29)
memory usage: 22.5+ MB

In [ ]:
# Mengubah tipe data kolom diag_1, diag_2, dan diag_3 menjadi tipe data float dengan mengatasi nilai yang tidak valid
object_columns['diag_1'] = pd.to_numeric(object_columns['diag_1'], errors='coerce')
object_columns['diag_2'] = pd.to_numeric(object_columns['diag_2'], errors='coerce')
object_columns['diag_3'] = pd.to_numeric(object_columns['diag_3'], errors='coerce')

# Mengganti nilai NaN dengan nilai 0 (atau nilai lain yang sesuai)
object_columns['diag_1'].fillna(0, inplace=True)
object_columns['diag_2'].fillna(0, inplace=True)
object_columns['diag_3'].fillna(0, inplace=True)

# Mengubah tipe data menjadi int
object_columns['diag_1'] = object_columns['diag_1'].astype(int)
object_columns['diag_2'] = object_columns['diag_2'].astype(int)
object_columns['diag_3'] = object_columns['diag_3'].astype(int)

# cek tipe datane
object_columns .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   diag_1                    101766 non-null  int64
 1   diag_2                    101766 non-null  int64
 2   diag_3                    101766 non-null  int64
 3   max_glu_serum             101766 non-null  object
 4   A1Cresult                 101766 non-null  object
 5   metformin                 101766 non-null  object
 6   repaglinide               101766 non-null  object
 7   nateglinide               101766 non-null  object
 8   chlorpropamide            101766 non-null  object
 9   glimepiride               101766 non-null  object
 10  acetohexamide             101766 non-null  object
 11  glipizide                 101766 non-null  object
 12  glyburide                 101766 non-null  object
 13  tolbutamide               101766 non-null  object
 14  pioglitazone              101766 non-null  object
 15  rosiglitazone             101766 non-null  object
 16  acarbose                  101766 non-null  object
 17  miglitol                  101766 non-null  object
 18  troglitazone              101766 non-null  object
 19  tolazamide                101766 non-null  object
 20  insulin                   101766 non-null  object
 21  glyburide-metformin       101766 non-null  object
 22  glipizide-metformin       101766 non-null  object
 23  glimepiride-pioglitazone  101766 non-null  object
 24  metformin-rosiglitazone   101766 non-null  object
 25  metformin-pioglitazone    101766 non-null  object
 26  change                    101766 non-null  object
 27  diabetesMed               101766 non-null  object
 28  readmitted                101766 non-null  object
dtypes: int64(3), object(26)
memory usage: 22.5+ MB

In [ ]:
#diag_1
def label_diag(a):
    if 390 <= a <= 459 or a == 785:
        return 0
    elif 460 <= a <= 519 or a == 786:
        return 1
    elif 520 <= a <= 579 or a == 787:
        return 2
    elif a == 250:
        return 3
    elif 800 <= a <= 999:
        return 4
    elif 710 <= a <= 739:
        return 5
    elif 580 <= a <= 629 or a == 788:
        return 6
    elif 140 <= a <= 239:
        return 7
    elif a in [780, 781, 784, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799]:
        return 8
    elif 240 <= a <= 279:
        return 9
    elif 680 <= a <= 709 or a == 782:
        return 10
    elif 1 <= a <= 139:
        return 11
    elif 290 <= a <= 319:
        return 12
    elif 280 <= a <= 289:
        return 13
    elif 320 <= a <= 359:
        return 14
    elif 630 <= a <= 679:
        return 15
    elif 360 <= a <= 389:
        return 16
    elif 740 <= a <= 759:
        return 17
    elif a == 20000:
        return 18
    elif a == 10000:
        return 19
    else:
        return -1  # Kategori tidak ditemukan

a = object_columns['diag_1']

object_columns['diag_1'] = a.apply(label_diag)

print(object_columns)

        diag_1  diag_2  diag_3 max_glu_serum A1Cresult metformin repaglinide  \
0            3       0       0          None      None        No          No
1            9     250     255          None      None        No          No
2           15     250   20000          None      None        No          No
3           11     250     403          None      None        No          No
4            7     157     250          None      None        No          No
...        ...     ...     ...           ...       ...       ...         ...
101761       3     291     458          None        >8    Steady          No
101762       2     276     787          None      None        No          No
101763      11     590     296          None      None    Steady          No
101764       4     285     998          None      None        No          No
101765       2     530     787          None      None        No          No

       nateglinide chlorpropamide glimepiride  ... tolazamide insulin  \
0               No             No          No  ...         No      No
1               No             No          No  ...         No      Up
2               No             No          No  ...         No      No
3               No             No          No  ...         No      Up
4               No             No          No  ...         No  Steady
...            ...            ...         ...  ...        ...     ...
101761          No             No          No  ...         No    Down
101762          No             No          No  ...         No  Steady
101763          No             No          No  ...         No    Down
101764          No             No          No  ...         No      Up
101765          No             No          No  ...         No      No

       glyburide-metformin glipizide-metformin glimepiride-pioglitazone  \
0                       No                  No                       No
1                       No                  No                       No
2                       No                  No                       No
3                       No                  No                       No
4                       No                  No                       No
...                    ...                 ...                      ...
101761                  No                  No                       No
101762                  No                  No                       No
101763                  No                  No                       No
101764                  No                  No                       No
101765                  No                  No                       No

       metformin-rosiglitazone metformin-pioglitazone change diabetesMed  \
0                           No                     No     No          No
1                           No                     No     Ch         Yes
2                           No                     No     No         Yes
3                           No                     No     Ch         Yes
4                           No                     No     Ch         Yes
...                        ...                    ...    ...         ...
101761                      No                     No     Ch         Yes
101762                      No                     No     No         Yes
101763                      No                     No     Ch         Yes
101764                      No                     No     Ch         Yes
101765                      No                     No     No          No

       readmitted
0              NO
1             >30
2              NO
3              NO
4              NO
...           ...
101761        >30
101762         NO
101763         NO
101764         NO
101765         NO

[101766 rows x 29 columns]

In [ ]:
#diag_2
def label_diag(a):
    if 390 <= a <= 459 or a == 785:
        return 0
    elif 460 <= a <= 519 or a == 786:
        return 1
    elif 520 <= a <= 579 or a == 787:
        return 2
    elif a == 250:
        return 3
    elif 800 <= a <= 999:
        return 4
    elif 710 <= a <= 739:
        return 5
    elif 580 <= a <= 629 or a == 788:
        return 6
    elif 140 <= a <= 239:
        return 7
    elif a in [780, 781, 784, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799]:
        return 8
    elif 240 <= a <= 279:
        return 9
    elif 680 <= a <= 709 or a == 782:
        return 10
    elif 1 <= a <= 139:
        return 11
    elif 290 <= a <= 319:
        return 12
    elif 280 <= a <= 289:
        return 13
    elif 320 <= a <= 359:
        return 14
    elif 630 <= a <= 679:
        return 15
    elif 360 <= a <= 389:
        return 16
    elif 740 <= a <= 759:
        return 17
    elif a == 20000:
        return 18
    elif a == 10000:
        return 19
    else:
        return -1  # Kategori tidak ditemukan

a = object_columns['diag_2']

object_columns['diag_2'] = a.apply(label_diag)

print(object_columns)

        diag_1  diag_2  diag_3 max_glu_serum A1Cresult metformin repaglinide  \
0            3      -1       0          None      None        No          No
1            9       3     255          None      None        No          No
2           15       3   20000          None      None        No          No
3           11       3     403          None      None        No          No
4            7       7     250          None      None        No          No
...        ...     ...     ...           ...       ...       ...         ...
101761       3      12     458          None        >8    Steady          No
101762       2       9     787          None      None        No          No
101763      11       6     296          None      None    Steady          No
101764       4      13     998          None      None        No          No
101765       2       2     787          None      None        No          No

       nateglinide chlorpropamide glimepiride  ... tolazamide insulin  \
0               No             No          No  ...         No      No
1               No             No          No  ...         No      Up
2               No             No          No  ...         No      No
3               No             No          No  ...         No      Up
4               No             No          No  ...         No  Steady
...            ...            ...         ...  ...        ...     ...
101761          No             No          No  ...         No    Down
101762          No             No          No  ...         No  Steady
101763          No             No          No  ...         No    Down
101764          No             No          No  ...         No      Up
101765          No             No          No  ...         No      No

       glyburide-metformin glipizide-metformin glimepiride-pioglitazone  \
0                       No                  No                       No
1                       No                  No                       No
2                       No                  No                       No
3                       No                  No                       No
4                       No                  No                       No
...                    ...                 ...                      ...
101761                  No                  No                       No
101762                  No                  No                       No
101763                  No                  No                       No
101764                  No                  No                       No
101765                  No                  No                       No

       metformin-rosiglitazone metformin-pioglitazone change diabetesMed  \
0                           No                     No     No          No
1                           No                     No     Ch         Yes
2                           No                     No     No         Yes
3                           No                     No     Ch         Yes
4                           No                     No     Ch         Yes
...                        ...                    ...    ...         ...
101761                      No                     No     Ch         Yes
101762                      No                     No     No         Yes
101763                      No                     No     Ch         Yes
101764                      No                     No     Ch         Yes
101765                      No                     No     No          No

       readmitted
0              NO
1             >30
2              NO
3              NO
4              NO
...           ...
101761        >30
101762         NO
101763         NO
101764         NO
101765         NO

[101766 rows x 29 columns]

In [ ]:
#diag_3
def label_diag(a):
    if 390 <= a <= 459 or a == 785:
        return 0
    elif 460 <= a <= 519 or a == 786:
        return 1
    elif 520 <= a <= 579 or a == 787:
        return 2
    elif a == 250:
        return 3
    elif 800 <= a <= 999:
        return 4
    elif 710 <= a <= 739:
        return 5
    elif 580 <= a <= 629 or a == 788:
        return 6
    elif 140 <= a <= 239:
        return 7
    elif a in [780, 781, 784, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799]:
        return 8
    elif 240 <= a <= 279:
        return 9
    elif 680 <= a <= 709 or a == 782:
        return 10
    elif 1 <= a <= 139:
        return 11
    elif 290 <= a <= 319:
        return 12
    elif 280 <= a <= 289:
        return 13
    elif 320 <= a <= 359:
        return 14
    elif 630 <= a <= 679:
        return 15
    elif 360 <= a <= 389:
        return 16
    elif 740 <= a <= 759:
        return 17
    elif a == 20000:
        return 18
    elif a == 10000:
        return 19
    else:
        return -1  # Kategori tidak ditemukan

a = object_columns['diag_3']

object_columns['diag_3'] = a.apply(label_diag)

print(object_columns)

        diag_1  diag_2  diag_3 max_glu_serum A1Cresult metformin repaglinide  \
0            3      -1      -1          None      None        No          No
1            9       3       9          None      None        No          No
2           15       3      18          None      None        No          No
3           11       3       0          None      None        No          No
4            7       7       3          None      None        No          No
...        ...     ...     ...           ...       ...       ...         ...
101761       3      12       0          None        >8    Steady          No
101762       2       9       2          None      None        No          No
101763      11       6      12          None      None    Steady          No
101764       4      13       4          None      None        No          No
101765       2       2       2          None      None        No          No

       nateglinide chlorpropamide glimepiride  ... tolazamide insulin  \
0               No             No          No  ...         No      No
1               No             No          No  ...         No      Up
2               No             No          No  ...         No      No
3               No             No          No  ...         No      Up
4               No             No          No  ...         No  Steady
...            ...            ...         ...  ...        ...     ...
101761          No             No          No  ...         No    Down
101762          No             No          No  ...         No  Steady
101763          No             No          No  ...         No    Down
101764          No             No          No  ...         No      Up
101765          No             No          No  ...         No      No

       glyburide-metformin glipizide-metformin glimepiride-pioglitazone  \
0                       No                  No                       No
1                       No                  No                       No
2                       No                  No                       No
3                       No                  No                       No
4                       No                  No                       No
...                    ...                 ...                      ...
101761                  No                  No                       No
101762                  No                  No                       No
101763                  No                  No                       No
101764                  No                  No                       No
101765                  No                  No                       No

       metformin-rosiglitazone metformin-pioglitazone change diabetesMed  \
0                           No                     No     No          No
1                           No                     No     Ch         Yes
2                           No                     No     No         Yes
3                           No                     No     Ch         Yes
4                           No                     No     Ch         Yes
...                        ...                    ...    ...         ...
101761                      No                     No     Ch         Yes
101762                      No                     No     No         Yes
101763                      No                     No     Ch         Yes
101764                      No                     No     Ch         Yes
101765                      No                     No     No          No

       readmitted
0              NO
1             >30
2              NO
3              NO
4              NO
...           ...
101761        >30
101762         NO
101763         NO
101764         NO
101765         NO

[101766 rows x 29 columns]

In [ ]:
value_mapping = {
    "max_glu_serum": {"None": 0, ">300": 1, "Norm": 2, ">200": 3},
    "A1Cresult": {"None": 0, ">7": 1, ">8": 2, "Norm": 3},
    "metformin": {"No": 0, "Steady": 2, "Up": 1, "Down": 3},
    "repaglinide": {"No": 0, "Up": 1, "Steady": 2, "Down": 3},
    "nateglinide": {"No": 0, "Steady": 2, "Down": 3, "Up": 1},
    "chlorpropamide": {"No": 0, "Steady": 2, "Down": 3, "Up": 1},
    "glimepiride": {"No": 0, "Steady": 2, "Down": 3, "Up": 1},
    "acetohexamide": {"No": 0, "Steady": 1},
    "glipizide": {"No": 0, "Steady": 2, "Up": 1, "Down": 3},
    "glyburide": {"No": 0, "Steady": 2, "Up": 1, "Down": 3},
    "tolbutamide": {"No": 0, "Steady": 1},
    "pioglitazone": {"No": 0, "Steady": 2, "Up": 1, "Down": 3},
    "rosiglitazone": {"No": 0, "Steady": 2, "Up": 1, "Down": 3},
    "acarbose": {"No": 0, "Steady": 2, "Up": 1, "Down": 3},
    "miglitol": {"No": 0, "Steady": 2, "Down": 3, "Up": 1},
    "troglitazone": {"No": 0, "Steady": 1},
    "tolazamide": {"No": 0, "Steady": 2, "Up": 1},
    "insulin": {"No": 0, "Up": 1, "Steady": 2, "Down": 3},
    "glyburide-metformin": {"No": 0, "Steady": 2, "Down": 3, "Up": 1},
    "glipizide-metformin": {"No": 0, "Steady": 1},
    "glimepiride-pioglitazone": {"No": 0, "Steady": 1},
    "metformin-rosiglitazone": {"No": 0, "Steady": 1},
    "metformin-pioglitazone": {"No": 0, "Steady": 1},
    "change": {"No": 0, "Ch": 1},
    "diabetesMed": {"No": 0, "Yes": 1},
    "readmitted": {"NO": 0, ">30": 1, "<30": 2}
}

object_columns = object_columns.replace(value_mapping)

object_columns.head()

,diag_1,diag_2,diag_3,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,3,-1,-1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,3,9,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,1
2,15,3,18,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,11,3,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
4,7,7,3,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,1,1,0

In [ ]:
object_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   diag_1                    101766 non-null  int64
 1   diag_2                    101766 non-null  int64
 2   diag_3                    101766 non-null  int64
 3   max_glu_serum             101766 non-null  int64
 4   A1Cresult                 101766 non-null  int64
 5   metformin                 101766 non-null  int64
 6   repaglinide               101766 non-null  int64
 7   nateglinide               101766 non-null  int64
 8   chlorpropamide            101766 non-null  int64
 9   glimepiride               101766 non-null  int64
 10  acetohexamide             101766 non-null  int64
 11  glipizide                 101766 non-null  int64
 12  glyburide                 101766 non-null  int64
 13  tolbutamide               101766 non-null  int64
 14  pioglitazone              101766 non-null  int64
 15  rosiglitazone             101766 non-null  int64
 16  acarbose                  101766 non-null  int64
 17  miglitol                  101766 non-null  int64
 18  troglitazone              101766 non-null  int64
 19  tolazamide                101766 non-null  int64
 20  insulin                   101766 non-null  int64
 21  glyburide-metformin       101766 non-null  int64
 22  glipizide-metformin       101766 non-null  int64
 23  glimepiride-pioglitazone  101766 non-null  int64
 24  metformin-rosiglitazone   101766 non-null  int64
 25  metformin-pioglitazone    101766 non-null  int64
 26  change                    101766 non-null  int64
 27  diabetesMed               101766 non-null  int64
 28  readmitted                101766 non-null  int64
dtypes: int64(29)
memory usage: 22.5 MB

###**Data Merge**

Menggabungkan data yang di pisah jadi 1

Dan menghapus 1 kolom target

In [ ]:
# Misalnya, object_columns berisi kolom objek dan int_columns berisi kolom integer
diabetesMed = 'diabetesMed'

# Gabungkan kembali kedua DataFrames
cleaned_data = pd.concat([object_columns, int_columns], axis=1)

cleaned_data.head(15)

,diag_1,diag_2,diag_3,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,...,diabetesMed,readmitted,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
0,3,-1,-1,0,0,0,0,0,0,0,...,0,0,1,41,0,1,0,0,0,1
1,9,3,9,0,0,0,0,0,0,0,...,1,1,3,59,0,18,0,0,0,9
2,15,3,18,0,0,0,0,0,0,0,...,1,0,2,11,5,13,2,0,1,6
3,11,3,0,0,0,0,0,0,0,0,...,1,0,2,44,1,16,0,0,0,7
4,7,7,3,0,0,0,0,0,0,0,...,1,0,1,51,0,8,0,0,0,5
5,0,0,3,0,0,0,0,0,0,0,...,1,1,3,31,6,16,0,0,0,9
6,0,0,18,0,0,2,0,0,0,2,...,1,0,4,70,1,21,0,0,0,7
7,0,1,3,0,0,0,0,0,0,0,...,1,1,5,73,0,12,0,0,0,8
8,0,0,11,0,0,0,0,0,0,0,...,1,0,13,68,2,28,0,0,0,8
9,0,7,1,0,0,0,0,0,0,0,...,1,0,12,33,3,18,0,0,0,8
10,3,0,4,0,0,0,0,0,0,0,...,1,1,9,47,2,17,0,0,0,9
11,7,13,7,0,0,0,0,0,0,0,...,1,2,7,62,0,11,0,0,0,7
12,0,3,3,0,0,2,1,0,0,0,...,1,2,7,60,0,15,0,1,0,8
13,0,0,0,0,0,0,0,0,0,0,...,1,0,10,55,1,31,0,0,0,8
14,1,4,6,0,0,0,0,0,0,0,...,1,1,1,49,5,2,0,0,0,8

In [ ]:
cleaned_data.to_csv('/content/drive/MyDrive/SKRIPSI/cleaned_data.csv', index=False)

#Data Subsampling

data_1000 = 1,000 data

data_2500 = 2,500 data

data_5000 = 5,000 data

data_10000 = 10,000 data

data_20000 = 20,000 data

data_50000 = 50,000 data

data_100000 = 100,000 data

**10000 Data**

In [ ]:
dataA = pd.read_csv('/content/drive/MyDrive/SKRIPSI/cleaned_data.csv', nrows=10000)
dataA.to_csv('/content/drive/MyDrive/SKRIPSI/dataA.csv', index=False)

dataA.shape

(10000, 37)

**25000 Data**

In [ ]:
dataB = pd.read_csv('/content/drive/MyDrive/SKRIPSI/cleaned_data.csv', nrows=25000)
dataB.to_csv('/content/drive/MyDrive/SKRIPSI/dataB.csv', index=False)

dataB.shape

(25000, 37)

**50000 Data**

In [ ]:
dataC = pd.read_csv('/content/drive/MyDrive/SKRIPSI/cleaned_data.csv', nrows=50000)
dataC.to_csv('/content/drive/MyDrive/SKRIPSI/dataC.csv', index=False)

dataC.shape

(50000, 37)

**5000 Data**

In [ ]:
dataD = pd.read_csv('/content/drive/MyDrive/SKRIPSI/cleaned_data.csv', nrows=10000)
dataD.to_csv('/content/drive/MyDrive/SKRIPSI/dataD.csv', index=False)

dataD.shape

(10000, 37)